<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web3-transaction</title>
</head>
<body>
<table style=" width: 100%; border: 4px double black;">
    <form action="/transaction" method="POST">
        <tr>   <td style="border: 1px solid black; text-align: center">   SenderName: <input type="text" name="senderName"/> </td></tr>
        <tr>   <td style="border: 1px solid black; text-align: center">   senderPass: <input type="text" name="senderPass"/> </td></tr>
        <tr>   <td style="border: 1px solid black; text-align: center">   count: <input type="text" name="count"/> </td></tr>
        <tr>   <td style="border: 1px solid black; text-align: center">   nameTo: <input type="text" name="nameTo"/> </td></tr>
        <tr>   <td style="border: 1px solid black; text-align: center">    <button type="submit" value="transaction">transaction</button> </td></tr>
    </form>
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/registration">Registration</a>
        </td>
    </tr>
</table>
</body>
</html>