<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>web3-registration</title>
</head>
<body>

<table style=" width: 100%; border: 4px double black;">

        <form action="/registration" method="POST">
            <tr>   <td style="border: 1px solid black; text-align: center">   name: <input type="text" name="name"/> </td></tr>
            <tr>   <td style="border: 1px solid black; text-align: center">   password: <input type="text" name="password"/> </td></tr>
            <tr>   <td style="border: 1px solid black; text-align: center">   money: <input type="text" name="money"/> </td></tr>
            <tr>   <td style="border: 1px solid black; text-align: center">    <button type="submit" value="registration">registration</button> </td></tr>
        </form>


    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/transaction">Transaction</a>
        </td>
    </tr>
</table>

</body>
</html>

